.report-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(230 30 83);
  border-radius: 8px;
  padding: 10px 20px;
  background-color: var(--thirdcolor);
  box-shadow: 0 0 10px var(--shadowcolor);
  margin-bottom: 15px;
}

.report-user-button {
  background: no-repeat;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  color: var(--firstcolor) !important;
}

.report-textarea {
  min-height: 150px;
  max-height: 150px;
  min-width: 100%;
  max-width: 100%;
}

.devices-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  scrollbar-width: none;
}

.aboutUs-main-container {
  margin: 60px 10px;
}

.owner-details-innercontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
  width: 100%;
}

.owner-details-first-child {
  width: 30%;
  border-right: 1px solid var(--secondcolor);
}

.owner-details-first-child img {
  width: 100%;
  padding: 40px 10px;
}

.owner-details-second-child {
  width: 70%;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  height: 100%;
  justify-content: center;
  color: var(--firstcolor);
}

.copy-item-constainer {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.copy-item {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.copy-item:hover {
  text-decoration: underline;
}

.users-counts-container {
  border: 1px solid var(--secondcolor);
  border-radius: 8px;
  box-shadow: 0px 0px 15px var(--shadowcolor);
  margin-top: 40px;
  color: var(--firstcolor);
}

.users-counts-innercontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  overflow: hidden;
  flex-wrap: wrap;
  width: 100%;
  padding: 40px;
}

.social-platforms-container > .users-counts {
  transform: rotate3d(53, 19, 33, -65deg);
  cursor: pointer;
}

.social-platforms-container > .users-counts:hover {
  transform: rotate3d(53, 19, 33, -65deg) translate3d(0px, 0px, -14px);
  box-shadow: -7px 10px 0px var(--firstcolor);
}

.users-counts {
  display: flex;
  align-items: center;
  color: var(--firstcolor);
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
  font-size: 20px;
  border: 1px solid var(--secondcolor);
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  width: 180px;
  height: 110px;
}

.users-counts:hover {
  transform: translate(0px, -10px);
  box-shadow: 0px 0px 15px var(--shadowcolor);
}

.users-counts h3 {
  font-size: 30px;
}

.sellers-outerContainer {
  margin-top: 40px;
  border: 1px solid var(--secondcolor);
  border-radius: 8px;
  box-shadow: 0px 0px 15px var(--fifthcolor);
}

.sellers-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  padding: 20px;
  gap: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.sellers-carousel {
  display: flex;
  gap: 40px;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-snap-align: center;
  padding: 20px 400px;
  width: 100%;
  justify-content: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sellers-carousel::-webkit-scrollbar {
  display: none;
}

.about_user-card {
  flex: 0 0 400px;
  height: 400px;
  background: var(--thirdcolor);
  border-radius: 8px;
  box-shadow: 0px 0px 10px var(--shadowcolor);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  scroll-snap-align: center;
}

.about_user-card:first-child {
  margin-left: 900px;
}

.about_user-card:hover {
  transform: translateY(0px);
  transform: scale(1.08);
}

.selected_about_user-card {
  transform: scale(1.08);
  z-index: 10;
  box-shadow: 0px 0px 20px var(--shadowcolor);
}

.about_user-card__info {
  margin-bottom: 5px;
  text-align: center;
}

.about_user-card_personal_details_container {
  height: auto;
  padding: 10px;
}

.about_user-card__info_img {
  position: relative;
  overflow: hidden;
  border-bottom: 0.5px solid var(--secondcolor);
}

.about_user-card__info_img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  object-position: top;
  display: block;
}

.user-card__info_content {
  padding: 15px;
}

.about_user-card__contact {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}

.about_user-card__contact p {
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-seller-message {
  flex: 0 0 400px;
  text-align: center;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px var(--shadowcolor);
}

.about_prev-btn {
  left: 5%;
}

.about_next-btn {
  right: 5%;
}

.about_prev-btn,
.about_next-btn {
  position: absolute;
  background-color: var(--secondcolor);
  color: var(--thirdcolor);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
  z-index: 20;
}

.about_prev-btn:hover,
.about_next-btn:hover {
  background-color: var(--secondcolor);
}

.about_prev-btn:disabled,
.about_next-btn:disabled {
  background-color: var(--seventhcolor);
  cursor: not-allowed;
}

.sellers-container::after {
  content: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: 1;
}

.owner-details-container {
  border: 1px solid var(--secondcolor);
  border-radius: 8px;
  box-shadow: 0px 0px 15px var(--shadowcolor);
}

.about_header {
  color: var(--secondcolor);
  background-color: var(--fifthcolor);
  border-bottom: 1px solid var(--secondcolor);
  border-radius: 8px 8px 0px 0px;
  padding: 15px 0px;
  font-size: 20px;
  font-weight: 800;
  width: 100%;
  text-align: center;
}

.time-Update-Container {
  align-items: center !important;
  justify-content: space-between !important;
  gap: 10px;
  flex-direction: row !important;
  margin-bottom: 0rem !important;
  border-top: none !important;
  padding-top: 0rem !important;
}

.time-Update-Container > .login-input {
  margin: 10px 0px 0px 0px;
}

.important-note {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  padding: 20px;
  word-spacing: 1px;
  color: var(--firstcolor);
}

@media only screen and (max-width: 1185px) {
  .owner-details-innercontainer {
    flex-direction: column;
  }

  .owner-details-first-child {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid var(--secondcolor);
  }
  .owner-details-second-child {
    width: 100%;
    padding: 10px 40px;
    overflow: hidden;
  }

  .owner-details-first-child img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding: 0px 10px;
  }
}

@media only screen and (max-width: 815px) {
  .about_user-card {
    flex: 0 0 370px;
  }
}

@media only screen and (max-width: 768px) {
  .about_user-card {
    flex: 0 0 400px;
  }
}

@media only screen and (max-width: 485px) {
  .about_user-card {
    flex: 0 0 340px;
  }
}

@media only screen and (max-width: 425px) {
  .about_user-card {
    flex: 0 0 320px;
  }

  .owner-details-second-child {
    padding: 10px 20px;
  }

  .copy-item {
    font-size: 15px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 400px) {
  .about_user-card {
    flex: 0 0 300px;
    height: 380px;
  }
}

@media only screen and (max-width: 375px) {
  .about_user-card {
    flex: 0 0 280px;
    height: 350px;
  }
}

@media only screen and (max-width: 350px) {
  .about_user-card {
    flex: 0 0 250px;
    height: 330px;
  }
}

@media only screen and (max-width: 485px) {
  .report-user-list {
    width: 100%;
  }
  .report-user-list .searchWrapper {
    width: 100%;
  }
  .report-user-list .device-item img {
    height: 50px;
    width: 50px;
    border: 2px solid var(--secondcolor);
    border-radius: 10px;
    object-fit: cover;
    margin: 0px 6px;
  }

  .report-user-list .device-item p {
    width: 100%;
  }
  .report-user-container {
    padding: 10px;
  }
}

@media only screen and (max-width: 320px) {
  .report-user-list input[type="checkbox"] {
    width: 20px;
    height: 16px;
  }
}
