.recent-solds-container {
  width: 100%;
  max-width: 420px;
  background: var(--thirdcolor);
  border-radius: 12px;
  border: 1px solid var(--secondcolor);
  overflow: hidden;
  box-shadow: 0 2px 10px var(--shadowcolor);
  font-family: "Segoe UI", sans-serif;
}

.recent-sold-item-iner-container {
  padding: 10px;
  min-height: 485px;
}

.recent-sold-content-detail {
  display: flex;
  gap: 10px;
  align-items: center;
}

.recent-sold-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--secondcolor);
  border-radius: 10px;
  padding: 8px;
  margin-top: 15px;
  box-shadow: 0px 0px 10px var(--shadowcolor);
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.recent-sold-item:hover {
  transform: translate(0px, -5px);
}

.recent-sold-image-container {
  border: 1px solid var(--secondcolor);
  height: 60px;
  width: 60px;
  border-radius: 8px;
  overflow: hidden;
  object-fit: cover;
}

.recent-sold-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.recent-solds-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--thirdcolor);
  text-align: center;
  padding: 19px 5px;
  background: var(--secondcolor);
}

.recent-sold-type {
  font-weight: 600;
  margin: 0;
  color: var(--firstcolor);
}

.recent-sold-name {
  font-size: 14px;
  margin: 4px 0 0;
  color: var(--seventhcolor);
}

.recent-sold-info {
  text-align: right;
}

.recent-sold-price {
  font-weight: 600;
  margin: 0;
  color: var(--firstcolor);
}

.status {
  font-size: 13px;
  padding: 2px 10px;
  border-radius: 12px;
  display: inline-block;
  margin-top: 4px;
}

.status {
  background-color: #d1fae5;
  color: #065f46;
}

.view-recent-solds_btn-container {
  text-align: center;
  cursor: pointer;
  border-top: 1px solid var(--sixthcolor);
  padding: 20px;
}

.view-recent-solds_btn-container {
  text-align: center;
  cursor: pointer;
  border-top: 1px solid var(--sixthcolor);
  padding: 20px;
}

.view-recent-solds_btn {
  font-size: 14px;
  color: var(--secondcolor);
  background: transparent;
  border: none;
  cursor: pointer;
}

.shop-status {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.toggle-switch {
  width: 50px;
  height: 24px;
  border-radius: 40px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: inset 0 4px 6px var(--shadowcolor);
}

.toggle-switch .toggle-knob {
  width: 20px;
  height: 20px;
  background-color: var(--thirdcolor);
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  top: 2px;
  transition: left 0.3s ease;
  box-shadow: 0 2px 4px var(--shadowcolor);
}

.toggle-switch.on {
  background-color: var(--fourthcolor);
}

.toggle-switch.on .toggle-knob {
  left: 27px;
}

.toggle-switch.off {
  background-color: var(--secondcolor);
}

.toggle-switch.off .toggle-knob {
  left: 2px;
}

.switch-loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-lists-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)) !important;
  gap: 10px;
  width: 100%;
}

.dashboard-charts-container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.recent-sold-item-modal {
  min-width: 400px;
}

@media only screen and (max-width: 1300px) {
  .recent-solds-container {
    max-width: 100%;
  }

  .dashboard-charts-container {
    margin-top: 40px;
    display: grid;
    gap: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 440px) {
  .dashboard-charts-container {
    margin-top: 40px;
    display: grid;
    gap: 10px;
    width: 100%;
  }

  .recent-sold-item-modal {
    min-width: auto;
  }
}
@media only screen and (max-width: 370px) {
  .recent-solds-container {
    max-width: 95vw;
  }
}
@media only screen and (max-width: 360px) {
  .users-status-title {
    font-size: 18px !important;
    margin: 10px !important;
  }

  .shop-status {
    gap: 8px !important;
  }

  .toggle-switch {
    width: 40px;
    height: 17px;
    border-radius: 40px;
  }

  .toggle-switch .toggle-knob {
    width: 13px;
    height: 13px;
    top: 2px;
  }

  .switch-loader {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
