/* --------------Line Chart-------------------- */

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--firstcolor);
}

.chart-container {
  width: 70%;
  padding: 15px;
  background-color: var(--thirdcolor);
  border-radius: 8px;
  box-shadow: var(--shadowcolor) 0px 2px 10px;
}

.chart-header {
  margin-bottom: 20px;
}

.chart-header h3 {
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
}

.chart-options {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.chart-type-options {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: -63px;
  background: var(--thirdcolor);
  z-index: 1000;
  right: -2px;
  padding: 10px;
  border: 1px solid var(--secondcolor);
  border-radius: 8px;
  box-shadow: 0px 0px 12px var(--shadowcolor);
}

.chart-options-btn svg {
  height: 20px;
}

.chart-type-options > div {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 20px;
  color: var(--firstcolor);
  background-color: var(--thirdcolor);
}

.chart-type-icon {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.chart-type-options > div > span {
  font-size: 13.5px;
}
/* -----------------Monthly Chart-------------------- */

.leave-request-header {
  padding: 16px;
  text-align: center;
  color: var(--thirdcolor);
  background-color: var(--secondcolor);
  border-radius: 10px 10px 0px 0px;
}

.leave-request {
  width: 30%;
  text-align: center;
  overflow: hidden;
  background-color: var(--thirdcolor);
  border-radius: 8px;
  box-shadow:var(--shadowcolor) 0px 2px 10px;
}

.monthly-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.recharts-responsive-container {
  height: 260px !important;
  width: 255px !important;
}

/* -----------------Responsive Chart-------------------- */

@media only screen and (max-width: 1300px) {
  .chart-container {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
  }

  .leave-request {
    width: 100%;
    text-align: center;
    overflow: hidden;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 470px) {
  .chart-type-options {
    gap: 6px;
    right: -22px;
  }
}

@media only screen and (max-width: 442px) {
  .chart-header {
    margin-bottom: 10px;
  }

  .chart-header > h3 {
    font-size: 12px;
  }

  .chart-options-btn {
    gap: 1px !important;
    padding: 5px 8px !important;
  }

  .chart-options-btn svg {
    height: 14px;
  }

  .chart-options {
    display: flex;
    gap: 6px;
    margin-top: 5px;
    flex-wrap: wrap;
  }

  .chart-type-options {
    bottom: -54px;
    right: -15px;
  }

  .chart-type-options > div {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 20px;
    color: var(--firstcolor);
    background-color: var(--thirdcolor);
  }

  .chart-type-icon {
    height: 8px;
    width: 8px;
  }

  .chart-type-options > div > span {
    font-size: 12px;
  }
}

@media only screen and (max-width: 375px) {
  .chart-type-options {
    right: -24px;
    gap: 4px;
    padding: 6px;
  }

  .chart-type-options > div {
    gap: 4px;
    padding: 2px 6px;
  }
}

@media only screen and (max-width: 333px) {
  .chart-type-options {
    right: -24.5px;
    bottom: -45px;  
    padding: 5px;
  }

  .chart-type-options > div {
    gap: 4px;
    padding: 1.5px 5px;
  }
}
