/* --------------Line Chart-------------------- */

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart-container {
  width: 70%;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
}


.chart-header {
  margin-bottom: 20px;
}

.chart-header h3 {
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
}

.chart-options {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.chart-type-options {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: -63px;
  background: white;
  z-index: 1000;
  right: -2px;
  padding: 10px;
  border: 1px solid #e53935;
  border-radius: 8px;
  box-shadow: 0px 0px 12px #00000069;
}

.chart-options-btn svg {
  height: 20px;
}

.chart-type-options > div {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 20px;
  color: black;
  background-color: rgb(245, 245, 245);
}


/* -----------------Monthly Chart-------------------- */

.leave-request-header {
  padding: 16px;
  text-align: center;
  color: white;
  background-color: #eb3c2f;
  border-radius: 10px 10px 0px 0px;
}

.leave-request {
  width: 30%;
  text-align: center;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
}

.monthly-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.recharts-responsive-container {
  height: 260px !important;
  width: 255px !important;
}

/* -----------------Responsive Chart-------------------- */

@media only screen and (max-width: 1300px) {
  .chart-container {
    width: 100%;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
  }

  .leave-request {
    width: 100%;
    text-align: center;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
  }
}

@media only screen and (max-width: 470px) {
  .chart-type-options {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 6px;
    position: absolute;
    bottom: -63px;
    background: white;
    z-index: 1000;
    right: -22px;
    padding: 10px;
    border: 1px solid #e53935;
    border-radius: 8px;
    box-shadow: 0px 0px 12px #00000069;
  }
}

@media only screen and (max-width: 442px) {
  .chart-header {
    margin-bottom: 10px;
  }

  .chart-header h3 {
    font-size: 12px;
  }

  .chart-options {
    display: flex;
    gap: 6px;
    margin-top: 5px;
    flex-wrap: wrap;
  }
}
