/* --------------Line Chart-------------------- */

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart-container {
  width: 70%;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
}

/* -----------------Monthly Chart-------------------- */

.leave-request-header {
  padding: 16px;
  text-align: center;
  color: white;
  background-color: #eb3c2f;
  border-radius: 10px 10px 0px 0px;
}

.leave-request {
  width: 30%;
  text-align: center;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
}

.monthly-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.recharts-responsive-container {
  height: 260px !important;
  width: 255px !important;
}

.chart-header {
  margin-bottom: 20px;
}

.chart-header h3 {
  margin: 0px;
  font-size: 18px;
  font-weight: 600;
}

.chart-options {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.chart-options > div {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 20px;
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(62, 200, 51);
}

.chart-options > div > div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.chart-options > div > span {
  font-size: 14px;
}

@media only screen and (max-width: 1300px) {
  .chart-container {
    width: 100%;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
  }

  .leave-request {
    width: 100%;
    text-align: center;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
  }
}

@media only screen and (max-width: 442px) {
  .chart-header {
    margin-bottom: 10px;
  }

  .chart-header h3 {
    font-size: 12px;
  }

  .chart-options {
    display: flex;
    gap: 6px;
    margin-top: 5px;
    flex-wrap: wrap;
  }

  .chart-options > div {
    gap: 4px;
    padding: 4px 8px;
    border-radius: 20px;
  }

  .chart-options > div > div {
    width: 8px;
    height: 8px;
  }

  .chart-options > div > span {
    font-size: 8px;
  }
}
