/* --------------Line Chart-------------------- */

.chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart-container {
  width: 70%;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
}

/* -----------------Monthly Chart-------------------- */

.leave-request-header {
  padding: 16px;
  text-align: center;
  color: white;
  background-color: #eb3c2f;
  border-radius: 10px 10px 0px 0px;
}

.leave-request {
  width: 30%;
  text-align: center;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
}

.monthly-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.recharts-responsive-container {
  height: 260px !important;
  width: 255px !important;
}


@media only screen and (max-width: 1300px) {
  .chart-container {
    width: 100%;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
  }

  .leave-request {
    width: 100%;
    text-align: center;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px;
  }
}