.chatbot-wrapper {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000;
  display: flex;
  align-items: flex-end;
  gap: 18px;
}
.chatbot-icon {
  background-color: var(--secondcolor);
  color: white;
  padding: 9px 10px 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}

.chatbot-icon:hover {
  transform: scale(1.1);
  background-color: #f1493d;
}

.chatbot-container {
  position: relative;
  width: 350px;
  height: 500px;
  max-height: 90vh;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
  animation: slideUp 0.3s ease;
  margin-bottom: 15px;
}

.chat-bot-corner {
  position: absolute;
  bottom: 0;
  right: -5px;
  width: 26px;
  height: 20px;
  background-color: #ffffff;
  transform: skewX(36deg);
  z-index: 1;
}

.chatbot-header {
  background-color: var(--secondcolor);
  color: white;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px 16px 0px 0px;
}

.chatbot-back-btn {
  background: var(--thirdcolor);
  border: none;
  color: var(--secondcolor);
  cursor: pointer;
  border-radius: 8px;
  font-size: 0px;
  padding: 3px 4px 3px 2px;
  transition: all 0.3s ease-in-out;
}

.chatbot-back-btn:hover {
  background: var(--firstcolor);
  color: var(--secondcolor);
}

.chatbot-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
}

/* Messages Area */
.chatbot-messages {
  flex: 1;
  padding: 12px;
  overflow-y: auto;
  background-color: var(--thirdcolor);
  display: flex;
  flex-direction: column;
  gap: 8px;
  scrollbar-width: thin;
}

/* Messages */
.chat-message {
  padding: 10px 14px;
  border-radius: 12px;
  max-width: 90%;
  word-wrap: break-word;
  font-size: 14px;
  line-height: 1.4;
}

.bot-message {
  background-color: var(--firstcolor);
  align-self: flex-start;
  border-bottom-left-radius: 2px;
  color: var(--thirdcolor);
}

.user-message {
  background-color: var(--secondcolor);
  color: white;
  align-self: flex-end;
  border-bottom-right-radius: 2px;
}

.chatbot-input-area {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #e5e7eb;
  background-color: #ffffff;
  gap: 8px;
  z-index: 2;
  border-radius: 0px 0px 16px 16px;
}

.chatbot-input {
  flex: 1;
  border: 1px solid #d1d5db;
  border-radius: 20px;
  padding: 8px 14px;
  font-size: 14px;
  outline: none;
  transition: border 0.2s;
}

.chatbot-input:focus {
  border-color: var(--secondcolor);
}

.chatbot-send-btn {
  background-color: var(--secondcolor);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.chatbot-send-btn:hover {
  background-color: #f03d3afe;
  transform: scale(1.05);
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.chatbot-messages::-webkit-scrollbar {
  width: 6px;
}

.chatbot-messages::-webkit-scrollbar-thumb {
  background-color: rgba(37, 99, 235, 0.5);
  border-radius: 10px;
}

@media only screen and (max-width: 450px) {
  .chatbot-wrapper {
    right: 10px;
    bottom: 6px;
    flex-direction: column;
    gap: 3px;
  }
  .chatbot-container {
    max-width: 95vw;
    margin-bottom: 10px;
  }
  .chat-bot-corner {
    transform: skewY(36deg);
        right: 21px;
  }
}
