.events-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.event-sale-tab {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.event-sale-tab .tab {
  box-shadow: 0px 0px 15px #0000002b;
  cursor: pointer;
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 8px;
  width: 140px;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.event-sale-tab .tab-active {
  background-color: #eb3c2f;
  color: white;
}

.event-sale-tab .tab:hover {
  transform: translate(0px, -3px);
  background-color: #eb3c2fe6;
}

.add-event-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.add-event-search-container .searchWrapper {
  max-width: 300px;
}

.event-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  font-family: "Poppins", sans-serif;
  transition: 0.3s all ease;
  border: 1px solid #e9496c;
}

.single-event-container {
  padding: 20px;
  cursor: default !important;
}

.events-type-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default !important;
  color: #f05454;
  padding: 10px 20px;
  gap: 10px;
  border-bottom: 1px solid #e41e53;
  width: 100%;
}

input[type="checkbox"]:checked {
  border-color: #eb3c2f;
  background-color: #eb3c2f;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #eb3c2f;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:checked:after {
  content: "✓";
  color: #fff;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.device-item {
  display: flex;
  align-items: center;
  border: 0.5px solid #00000036;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.161);
  margin: 10px 0px;
  padding: 10px 10px;
}

.device-item img {
  height: 60px;
  width: 60px;
  border: 2px solid #eb3c2f;
  border-radius: 10px;
  object-fit: cover;
  margin: 0px 10px;
}

.device-item p {
  padding: 2px 10px;
  background-color: rgb(246, 229, 229);
  border-radius: 50px;
  font-size: 12px;
  width: fit-content;
}

.empty-message {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 425px) {
  .events-type-container h1{
    font-size: x-large;
    font-weight: 500;
  }
}

@media only screen and (max-width: 375px) {
  .events-type-container h1{
    font-size: large;
    font-weight: 500;
  width: 36% !important;

  }
  .single-event-container {
    padding: 5px;
  }
}

@media only screen and (max-width: 332px) {
  .single-event-container {
    padding: 5px;
  }

  .single-event-container > .mobile-card {
    width: 90vw;
  }
}
