.login-container {
  display: flex;
  width: 100vw;
  overflow: hidden;
  min-height: 100vh;
}

.login-left {
  background-color: #000000;
  color: white;
  flex: 1;
  padding: 4rem;
}

.login-left h1 {
  font-size: 2.8rem;
  line-height: 1.4;
  margin-bottom: 20px;
}

.login-left h1 span {
  color: #ff4d4d;
}

.brand-logo {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: start;
}
.brand-logo img {
  height: 40px;
  border-radius: 7px;
  margin-right: 10px;
}

.brand-logo span {
  color: #ff4d4d;
}

.login-illustration {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 30px;
  height: 390px;
}
.login-illustration img {
  max-width: 100%;
  height: 100%;
}
.login-right {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.login-form {
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 3rem;
}

.login-form h2 span {
  color: #ff4d4d;
}

.login-input {
  width: 100%;
  padding: 0.75rem;
  margin: 4px 0px 1.2rem 0px;
  border: 1px solid #ddd;
  font-size: 16px;
  outline: 0;
  border-radius: 8px;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.9rem;
  background-color: #ff4d4d;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 6px 18px rgba(255, 77, 77, 0.35);
}

.login-button:hover {
  background-color: #e63b3b;
}

.login-text {
  display: inline-block;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.slide-out {
  transform: translateX(20px);
  opacity: 0;
}

.toggle-account {
  margin-top: 1.8rem;
  text-align: center;
  font-size: 14px;
}

.toggle-account span {
  color: #ff4d4d;
  cursor: pointer;
  margin-left: 6px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0px 1.2rem 0px;
  border: 1px solid #ddd;
  outline: 0;
  border-radius: 8px;
}
.input-container input {
  width: 100%;
  padding: 0.75rem;
  border: none;
  font-size: 16px;
  outline: 0;
  background-color: transparent;
}

.password-toggle {
  border-left: 1px solid #ddd;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 0px 8px 8px 0px;
}
.password-toggle img {
  height: 20px;
  display: flex;
}

.login-form-error {
  text-align: start;
  padding: 0px;
  margin: -14px 0px 11px 4px;
  font-size: 12px;
  color: red;
}

.or-line-container {
  background-color: red;
  height: 1px;
  margin: 35px 0px 23px 0px;
  color: #f05454;
  padding: 0 10px;
  transform: translateY(-50%);
  width: 100%;
}
.or-line {
  position: absolute;
  right: 43%;
  top: 0;
  color: #f05454;
  font-weight: 500;
  background-color: #fff;
  padding: 0 10px;
  transform: translateY(-50%);
}

.google-login-button {
  width: 100%;
  background: transparent;
  border: 0.5px solid #00000052;
  border-radius: 8px;
  box-shadow: 0px 0px 5px #0000003b;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.google-login-button:hover {
  transform: translate(0px, -10px);
}

.login-with-google {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  color: black;
}

.login-with-google img {
  height: 20px;
}

.signUp-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

@media only screen and (max-width: 800px) {
  .login-left {
    display: none;
  }
  .login-right {
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
