.mobiles-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr)) !important;
  gap: 20px;
  width: 100%;
}

.mobiles-summary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
}

.mobiles-status-title {
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  margin: 16px 16px 20px;
}

.mobile-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 2px 10px var(--shadowcolor);
  background-color: var(--thirdcolor);
  font-family: "Poppins", sans-serif;
  transition: 0.3s all ease;
  border: 1px solid var(--sixthcolor);
}

.mobile-card:hover {
  transform: translateY(-3px);
}

.mobile-modal-card {
  border-radius: 0px;
  max-width: 500px;
  cursor: default;
}

.mobile-modal-card:hover {
  transform: translateY(0px);
}

.mobile-card__info_img {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.mobile-card__info_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
  border-bottom: 0.5px solid var(--sixthcolor);
}

.mobile-card__info_content {
  padding: 16px;
}

.mobile-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 12px;
}

.mobile-card__text {
  font-size: 14px;
  font-weight: 400;
}

.mobile-card_details_container {
  padding-bottom: 10px;
  border-bottom: 1px dashed var(--seventhcolor);
  color: var(--firstcolor);
}
.mobile-card_personal_details_container {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 90px;
}

.mobile-card__role {
  color: var(--secondcolor);
  background-color: var(--fifthcolor);
  border: 1px solid var(--secondcolor);
  border-radius: 2.5px;
  padding: 1px 2px;
  font-size: 10px;
  font-weight: 600;
  min-width: 50px;
  text-align: center;
}

.mobile-card__contact {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2px 0px;
}

.mobile-card__contact img {
  height: 13px;
  width: 13px;
}

.mobile-card__contact a {
  text-decoration: none;
}

.mobile-card__contact h4 {
  font-size: 13px;
  font-weight: 500;
  color: var(--firstcolor);
  text-decoration: none;
}

.mobile-card__contact h4:hover {
  text-decoration: underline;
}

.mobile_card_details {
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
    color: var(--firstcolor);
}

.dashed-line {
  flex-grow: 1;
  border-bottom: 2px dashed;
  margin: 0 10px;
}

.mobile-card__status {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-top: 10px;
}

.mobile-card__status-Active {
  color: green;
  background-color: #00800021;
  border: 1px solid green;
  border-radius: 2.5px;
  padding: 2px 5px;
  font-size: 12px;
  cursor: pointer;
}

.mobile-card__status-InActive {
  color: #ee3f24;
  background-color: #ee3f242b;
  border: 1px solid #ee3f24;
  border-radius: 2.5px;
  padding: 2px 5px;
  font-size: 12px;
  cursor: pointer;
}

.mobile-card__status-indicator {
  position: relative;
  height: 6px;
  width: 6px;
  background-color: #ee3f24;
  border-radius: 50%;
}

.description-input {
  min-height: 150px;
  max-height: 150px;
  min-width: 260px;
  max-width: 260px;
  font-size: 16px;
}

.add-Files {
  border-radius: 50%;
  color: var(--thirdcolor);
  background: var(--secondcolor);
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
}

.media-preview {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 13px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.preview-block {
  position: relative;
}

.video-cancel {
  background: var(--secondcolor);
  color: var(--thirdcolor);
  position: absolute;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.5px 4px 4px 4px;
  border-radius: 16px;
  left: 94px;
  top: -6px;
  cursor: pointer;
  font-size: 13px;
  z-index: 1;
}

.media-preview-video {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.8;
  cursor: pointer;
  border: 2px solid var(--secondcolor);
}

@media only screen and (max-width: 1024px) {
.mobiles-container {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) !important;
}

 .mobile-card {
    height: 350px;
    width: 100%;
  }
}

@media only screen and (max-width: 979px) {
.mobiles-container {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
}

 .mobile-card {
    height: 340px;
    width: 100%;
  }
}
@media only screen and (max-width: 840px) {
 .mobile-card {
    height: 300px;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .mobile-summary-header {
    flex-direction: column;
    align-items: start;
    margin-bottom: 30px;
  }
  .mobiles-container {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr)) !important;
    gap: 10px;
  }

  .mobile-card {
    height: 300px;
    width: 100%;
  }

  .slider-container {
    max-height: 155px !important;
  }

  .prev-btn {
    left: 8px !important;
  }

  .next-btn {
    right: 8px !important;
  }

  .prev-btn,
  .next-btn {
    padding: 3px 9.5px !important;
    font-size: 14px !important;
  }

  .dots {
    padding: 7px 10px !important;
  }

  .mobile-card__info_content {
    padding: 6px;
  }

  .mobile-card_details_container {
    padding-bottom: 2px;
    color: var(--firstcolor);
  }

  .mobile-card__text {
    font-size: 12px;
    font-weight: 400;
  }

  .mobile-card__info {
    gap: 8px;
    margin-bottom: 4px;
    padding-bottom: 2px;
  }

  .mobile-card__role {
    border-radius: 1.5px;
    padding: 0px 0px;
    font-size: 9px;
    font-weight: 500;
    min-width: 40px;
  }

  .mobile_card_details {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 740px) {
  .mobile-card {
    height: 275px;
    width: 100%;
  }

  .slider-container {
    max-height: 210px !important;
  }
}

@media only screen and (max-width: 450px) {
  .mobile-summary-header {
    flex-direction: column;
    align-items: start;
    margin-bottom: 30px;
  }
  .mobiles-container {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)) !important;
    gap: 10px;
  }

  .mobile-card {
    height: 255px;
    width: 100%;
  }

  .slider-container {
    max-height: 250px !important;
    min-height: 130px !important;
  }

  .prev-btn {
    left: 5px !important;
  }

  .next-btn {
    right: 5px !important;
  }

  .prev-btn,
  .next-btn {
    padding: 0px 6px !important;
    font-size: 12px !important;
  }

  .dots {
    bottom: 8px !important;
    gap: 3px !important;
    padding: 5px 8px !important;
  }

  .dot {
    width: 8px !important;
    height: 8px !important;
  }

  .mobile-card__info_content {
    padding: 6px;
  }

  .mobile-card_details_container {
    padding-bottom: 2px;
  }

  .mobile-card__text {
    font-size: 10px;
    font-weight: 400;
  }

  .mobile-card__info {
    gap: 8px;
    margin-bottom: 4px;
    padding-bottom: 2px;
  }

  .mobile-card__role {
    border-radius: 1.5px;
    padding: 0px 0px;
    font-size: 7px;
    font-weight: 500;
    min-width: 40px;
  }

  .mobile_card_details {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 375px) {
  .mobile-card {
    height: 200px;
    width: 100%;
  }

  .slider-container {
    max-height: 130px !important;
    min-height: 100px !important;
  }

  .mobile-card__info_content {
    padding: 4px;
  }

  .mobile-card__text {
    font-size: 7px;
    font-weight: 300;
  }

  .mobile-card__info {
    margin-bottom: 0px;
  }

  .mobile_card_details {
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
