/* ---------------modal--------------- */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: #000000b3;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

.modal-content {
  position: relative;
  background: var(--firstcolor);
  border-radius: 10px;
  max-height: 90%;
  overflow: auto;
  scrollbar-width: none;
}

.mobile-modal-card > .slider-container {
  max-height: 100% !important;
  min-height: 100% !important;
  height: 100% !important;
}

.mobile-modal-card .mobile-card__text {
  font-size: 16px !important;
  padding: 0px 0px !important;
}

.mobile-modal-card .mobile-card_details_container {
  padding: 8px 0px !important;
  color: var(--firstcolor);
}

.mobile-modal-card .mobile_card_details {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--firstcolor);
}

.mobile-modal-card .mobile-card__info {
  padding-top: 0px !important;
}

.mobile-modal-card .mobile-card__info_content {
  padding: 10px;
}

.modal-card > .mobile-card {
  height: 100%;
}

.sidebar-modal {
  padding: 16px;
}

.contentWrapper {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: var(--thirdcolor);
  padding-bottom: 8px;
}

.logout-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.logout-cencel-btn {
  background-color: var(--seventhcolor);
}

.logout-delte-btn {
  background-color: var(--secondcolor);
}

.logout-delte-btn-same {
  padding: 5px 15px;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  color: var(--thirdcolor);
}

/* ----------Black Modal----------------- */

.avatar-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.avatar-section img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  border: 1px solid var(--secondcolor);
}

.edit-icon {
  position: absolute;
  bottom: 10px;
  right: -10px;
  color: var(--secondcolor);
}

.user-Name {
  text-align: center;
  padding: 10px 0px 0px 0px;
  color: var(--firstcolor);
}

.user-Name h3 {
  font-size: 16px;
  font-weight: 600;
}

.menu {
  margin-top: 2rem;
  text-align: left;
}
.menu img {
  height: 15px;
  margin: 0px 7px;
}

.menu div {
  margin: 1rem 0;
  border-top: 1px solid var(--seventhcolor);
  color: var(--firstcolor);
  padding-top: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 14px;
}

.modal-containeer {
  padding: 0px 16px;
}
.modal-containeer img {
  height: 100px;
  width: 100px;
  margin: 0px 7px;
}

.modal-containeer div {
  margin-bottom: 0.7rem;
  border-top: 1px solid var(--firstcolor);
  padding-top: 1rem;
  overflow: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
}
.modal-containeer span {
  color: var(--seventhcolor);
  font-size: 12px;
  font-weight: 500;
}

.edit-list {
  flex-direction: row !important;
  justify-content: space-between;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.modal-header {
  top: 0px;
  position: sticky;
  z-index: 100;
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: var(--secondcolor);
  border-radius: 10px 10px 0px 0px;
}

.back-button {
  border: none;
  cursor: pointer;
  color: var(--secondcolor);
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  margin-right: -6.5%;
  width: 24px;
  height: 24px;
  background-color: var(--thirdcolor);
  border-radius: 5px;
  transition: 0.3s all ease;
}

.back-button:hover {
  background: var(--thirdcolor);
  opacity: 0.95;
}

.modal-title {
  flex: 1;
  color: var(--thirdcolor);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.edit-input {
  border: none;
  font-weight: 500;
  font-size: 16px;
  background: var(--thirdcolor);
  color: var(--firstcolor);
}

.sidebar-modal {
  padding: 16px;
}

.sidebar-modal-container {
  background-color: var(--thirdcolor);
  color: var(--firstcolor);
  border-radius: 13px;
  z-index: 9999;
  width: 300px;
  max-height: 90vh;
  overflow-y: auto;
  scrollbar-width: none;
}

.modal-card {
  background-color: var(--thirdcolor);
  color: var(--firstcolor);
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  min-width: 300px;
  max-height: 90vh;
}

.update-button {
  background-color: var(--secondcolor);
  padding: 12px;
  border: none;
  border-radius: 25px;
  color: var(--thirdcolor);
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 425px) {
  .modal-content {
    min-height: 100vh !important;
    min-width: 100vw !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 451px) {
  .modal-card {
    min-width: 95% !important;
  }
}
