/* ---------------modal--------------- */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: #000000b3;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: #fff;
  border-radius: 10px;
  max-height: 90%;
  overflow: auto;
  scrollbar-width: none;
}

.sidebar-modal {
  padding: 16px;
}

.contentWrapper {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: #000;
  padding-bottom: 8px;
}

.logout-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.logout-cencel-btn {
  background-color: #00000075;
}

.logout-delte-btn {
  background-color: #ff0404;
}

.logout-delte-btn-same {
  padding: 5px 15px;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

/* ----------Black Modal----------------- */

.avatar-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.avatar-section img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  border: 1px solid red;
}

.edit-icon {
  position: absolute;
  bottom: 10px;
  right: -10px;
}

.user-Name {
  text-align: center;
  padding: 10px 0px 0px 0px;
}

.user-Name h3 {
  font-size: 16px;
  font-weight: 600;
}

.menu {
  margin-top: 2rem;
  text-align: left;
}
.menu img {
  height: 15px;
  margin: 0px 7px;
}

.menu div {
  margin: 1rem 0;
  border-top: 1px solid #444;
  padding-top: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 14px;
}

.modal-containeer {
  padding: 0px 16px;
}
.modal-containeer img {
  height: 100px;
  width: 100px;
  margin: 0px 7px;
}

.modal-containeer div {
  margin-bottom: 0.7rem;
  border-top: 1px solid #44444438;
  padding-top: 1rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 16px;
}
.modal-containeer span {
  color: #00000045;
  font-size: 12px;
  font-weight: 500;
}

.edit-list {
  flex-direction: row !important;
  justify-content: space-between;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.modal-header {
  top: 0px;
  position: sticky;
  z-index: 100;
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #eb3c2f;
  border-radius: 10px 10px 0px 0px;
}

.back-button {
  border: none;
  cursor: pointer;
  color: #eb3c2f;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  margin-right: -6.5%;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 5px;
  transition: 0.3s all ease;
}

.back-button:hover {
  background: #ececec;
}

.modal-title {
  flex: 1;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.edit-input {
  border: none;
  font-weight: 500;
  font-size: 16px;
}

.sidebar-modal {
  padding: 16px;
}

.sidebar-modal-container {
  background-color: black;
  color: white;
  border-radius: 13px;
  z-index: 9999;
  width: 300px;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-card {
  background-color: white;
  color: black;
  z-index: 9999;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 300px;
  max-height: 90vh;
}

.update-button {
  background-color: #e53935;
  padding: 12px;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (max-width: 425px) {
  .modal-header {
    border-radius: 0px;
  }

  .modal-overlay {
    padding: 0px;
  }

  .modal-card {
    border-radius: 0px;
    min-width: 100vw;
    min-height: 100vh;
  }

  .sidebar-modal-container {
    border-radius: 0px;
    min-width: 100vw;
    min-height: 100vh;
  }

  .modal-content {
    min-height: 100vh !important;
    min-width: 100vw !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
