.tabsWrapper {
  border-bottom: 1px solid #fbdee5;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)) !important;
  gap: 20px;
  width: 100%;
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  background: #fff;
  border: 1px solid #ec5d7d;
  border-radius: 8px;
  padding: 15px 20px;
  height: 150px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.active-tab {
  background-color: #ec5d7d12;
  border-color: #ec5d7d;
}

.counterContentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: -webkit-fill-available;
}

.counterLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 30px;
  overflow: hidden;
}

.countWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.notification-container {
  padding-top: 20px;
}

.notification {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ec5d7d;
  border-radius: 10px;
  padding: 8px;
  margin-top: 15px;
  box-shadow: 0px 0px 10px #0000001c;
  width: 100%;
  cursor: pointer;
}

.notification img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: none;
  object-fit: cover;
  border: 1px solid #ec5d7d;
}

.notification-content {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 75%;
}

.notification-details-wrapper {
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
}

.notification-date-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  width: 25%;
  margin: 3px;
  font-size: 10px;
}

.notification-details-wrapper p,
h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.application-approve-btn {
  margin-top: 10px;
  background-color: #2ad32a;
  border: none;
  color: white;
  padding: 3px 9px;
  border-radius: 8px;
  cursor: pointer;
}

.application-approved-btn {
  background-color: #919191 !important;
  cursor: not-allowed !important;
}

.sender_Details_Container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.sender_Details_Container img {
  width: 70px;
  height: 70px;
  border-radius: 10%;
  object-fit: cover;
  border: 1px solid #ec5d7d;
}

.sender_Details {
  display: flex;
  flex-direction: column;
  word-break: break-all;
}

.report-description-container {
  word-break: break-all;
}

.tag-users-detail p,
h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (max-width: 450px) {
  .notification {
    padding: 4px;
  }

  .notification img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: none;
    object-fit: cover;
    border: 1px solid #ec5d7d;
  }

  .notification-content {
    gap: 6px;
    width: 80%;
  }
  .notification-date-wrapper {
    width: 20%;
    font-size: 9px;
  }

  .notification-details-wrapper {
    font-size: 10px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 380px) {
  .notification {
    padding: 3px;
  }

  .notification img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    object-fit: cover;
    border: 1px solid #ec5d7d;
  }

  .notification-content {
    gap: 4px;
    width: 75%;
  }
  .notification-date-wrapper {
    width: 25%;
    font-size: 7px;
  }

  .notification-details-wrapper {
    font-size: 8px;
    font-weight: 500;
  }

  .tag-users-detail h3 {
    font-size: 14px;
  }

  .tag-users-detail p {
    font-size: 12px;
  }
}
