.tabsWrapper {
  border-bottom: 1px solid #fbdee5;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)) !important;
  gap: 20px;
  width: 100%;
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  background: #fff;
  border: 1px solid #ec5d7d;
  border-radius: 8px;
  padding: 15px 20px;
  height: 150px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.active-tab {
  background-color: #ec5d7d12;
  border-color: #ec5d7d;
}

.counterContentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: -webkit-fill-available;
}

/* .counterIcon {
  padding: 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #99d7b0, #84d7e9);
} */

.countWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
