.tabsWrapper {
  border-bottom: 1px solid #fbdee5;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)) !important;
  gap: 20px;
  width: 100%;
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 43px;
  background: #fff;
  border: 1px solid #ec5d7d;
  border-radius: 8px;
  padding: 15px 20px;
  height: 140px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.active-tab {
  background-color: #ec5d7d12;
  border-color: #ec5d7d;
}

.counterContentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: -webkit-fill-available;
}

.counterLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 30px;
  overflow: hidden;
}

.countWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.notification-container {
  padding-top: 20px;
}

.notification {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ec5d7d;
  border-radius: 10px;
  padding: 8px;
  margin-top: 15px;
  box-shadow: 0px 0px 10px #0000001c;
  width: 100%;
  cursor: pointer;
}

.notification img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  border: none;
  object-fit: cover;
  border: 1px solid #ec5d7d;
}

.notification-content {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 75%;
}

.notification-details-wrapper {
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
}

.notification-date-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  width: 25%;
  margin: 3px;
  font-size: 10px;
}

.notification-details-wrapper p,
h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.application-approve-btn {
  background-color: #fef4f6;
  border: 1px solid rgb(230 30 83);
  color: black;
  width: 50%;
  padding: 5px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.application-approve-btn:hover{
  transform: translate(0px,-2.5px);
  box-shadow: 0 0 10px rgba(230, 30, 83, 0.262);
}

.sender_Details_Container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.sender_Details_Container img {
  width: 70px;
  height: 70px;
  border-radius: 10%;
  object-fit: cover;
  border: 1px solid #ec5d7d;
}

.sender_Details {
  display: flex;
  flex-direction: column;
  word-break: break-all;
}

.report-description-container {
  word-break: break-all;
}

.tag-users-detail p,
h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (max-width: 1250px) {
  .tabsWrapper {
    grid-template-columns: repeat(auto-fit, minmax(291px, 1fr)) !important;
  }

  .tab {
    gap: 50px;
    height: 150px;
  }
}

@media only screen and (max-width: 942px) {
  .tabsWrapper {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
  }

  .tab {
    gap: 50px;
    height: 150px;
  }
}

@media only screen and (max-width: 800px) {
  .tab {
    gap: 35px;
    height: 130px;
  }
}

@media only screen and (max-width: 768px) {
  .tabsWrapper {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) !important;
  }

  .tab {
    gap: 10px;
    padding: 10px;
    height: 80px;
  }

  .counterIcon {
    margin: -5px -4px;
  }

  .counterIcon > svg {
    height: 12px;
    width: 12px;
  }

  .counterContentWrapper > h3 {
    font-size: 10px;
  }
  .countWrapper {
    gap: 4px;
  }
  .countWrapper > h3 {
    font-size: 12px;
  }
  .countWrapper > span {
    font-size: 8px;
  }
}

@media only screen and (max-width: 500px) {
  .tabsWrapper {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) !important;
  }

  .tab {
    gap: 10px;
    padding: 15px;
    height: 110px;
  }

  .counterIcon {
    margin: 0px 0px;
  }

  .counterIcon > svg {
    height: 20px;
    width: 20px;
  }

  .countWrapper {
    gap: 8px;
  }

  .counterContentWrapper > h3 {
    font-size: 16px;
  }

  .countWrapper > h3 {
    font-size: 16px;
  }
  .countWrapper > span {
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {
  .notification {
    padding: 4px;
  }

  .notification img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: none;
    object-fit: cover;
    border: 1px solid #ec5d7d;
  }

  .notification-content {
    gap: 6px;
    width: 80%;
  }
  .notification-date-wrapper {
    width: 20%;
    font-size: 9px;
  }

  .notification-details-wrapper {
    font-size: 10px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 380px) {

  .tabsWrapper {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)) !important;
  }

  .tab {
    gap: 8px;
    padding: 10px;
    height: 80px;
  }

  .counterIcon > svg {
    height: 20px;
    width: 20px;
  }

  .countWrapper {
    gap: 4px;
  }

  .counterContentWrapper > h3 {
    font-size: 12px;
  }

  .countWrapper > h3 {
    font-size: 12px;
  }
  .countWrapper > span {
    font-size: 8px;
  }

  .notification {
    padding: 3px;
  }

  .notification img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    object-fit: cover;
    border: 1px solid #ec5d7d;
  }
  .notification-content {
    gap: 4px;
    width: 75%;
  }
  .notification-date-wrapper {
    width: 25%;
    font-size: 7px;
  }

  .notification-details-wrapper {
    font-size: 8px;
    font-weight: 500;
  }

  .tag-users-detail h3 {
    font-size: 14px;
  }

  .tag-users-detail p {
    font-size: 12px;
  }
}
