.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9ecef;
}

.header h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.field-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.field-column {
  flex: 1;
  padding: 0 10px;
}

.field-row .dashed-column-line {
  flex-grow: 1;
  height: 50px;
  border-left: 1px dashed gray;
  margin: -18px 0px -32px 19px;
}
.field-row .dashed-row-line {
  flex-grow: 1;
  height: 48px;
  border-bottom: 1px dashed grey;
  margin: -16px 7px -43px 19px;
}

.field-column:first-child {
  padding-left: 0;
  margin: 0px 50px 20px 0px;
}

.field-column:last-child {
  padding-right: 0;
  margin-left: 50px;
}

.field-label {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 5px;
}

.field-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.field-input:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.add-button {
  background-color: transparent;
  margin: -2px 0px 0px 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-toggle {
  width: 100%;
  text-align: left;
  padding: 8px 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 8px 16px;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

.show {
  display: block;
}

.accessories-card{
  max-height: 410px;
  overflow: auto;
  scrollbar-width: none;
}