.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--thirdcolor);
  border-radius: 8px;
  box-shadow: 0 1px 3px var(--shadowcolor);
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--seventhcolor);
}

.header h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: var(--firstcolor);
}

.field-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.field-column {
  flex: 1;
  padding: 0 10px;
}

.field-row .dashed-column-line {
  flex-grow: 1;
  height: 50px;
  border-left: 1px dashed var(--seventhcolor);
  margin: -18px 0px -32px 19px;
}
.field-row .dashed-row-line {
  flex-grow: 1;
  height: 48px;
  border-bottom: 1px dashed var(--seventhcolor);
  margin: -16px 7px -43px 19px;
}

.field-column:first-child {
  padding-left: 0;
  margin: 0px 50px 20px 0px;
}

.field-column:last-child {
  padding-right: 0;
  margin-left: 50px;
}

.field-label {
  font-size: 14px;
  color: var(--seventhcolor);
  margin-bottom: 5px;
}

.add-button {
  background-color: transparent;
  margin: -2px 0px 0px 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  color: var(--firstcolor);
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-toggle {
  width: 100%;
  text-align: left;
  padding: 8px 12px;
  border: 1px solid var(--seventhcolor);
  border-radius: 4px;
  background-color: var(--thirdcolor);
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  color: var(--firstcolor);
  text-align: left;
  list-style: none;
  background-color: var(--thirdcolor);
  background-clip: padding-box;
  border: 1px solid var(--firstcolor);
  border-radius: 4px;
  box-shadow: 0 2px 5px var(--shadowcolor);
  width: 100%;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 8px 16px;
  clear: both;
  font-weight: 400;
  color: var(--firstcolor);
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--thirdcolor);
  opacity: 0.95;
}

.show {
  display: block;
}

.accessories-card {
  max-height: 410px;
  overflow: auto;
  scrollbar-width: none;
}

.field-input {
  width: 100%;
  padding: 0.75rem;
  margin: 3px 0px 0px 0px;
  border: 1px solid var(--seventhcolor);
  font-size: 16px;
  outline: 0;
  color: black;
  background-color: white;
  border-radius: 8px;
}
