.slider-container {
  position: relative;
  width: 100%;
  max-height: 230px;
  overflow: hidden;
  border-bottom: 1px solid #ff0000;
  background-color: #f0f0f0;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
  max-height: 230px;
  width: 100%;
}

.slide-track {
  display: flex;
  width: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#ec5d7d12;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.prev-btn,
.next-btn {
  display: none;
  position: absolute;
  top: 50%;
  transition: all 0.3s ease-in-out;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 4px 11px;
  cursor: pointer;
  font-size: 16px;
  z-index: 10;
  border-radius: 50%;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.slider-container:hover .prev-btn,
.slider-container:hover .next-btn {
  display: block;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  padding: 10px 15px;
  border-radius: 50px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #ff0000;
}


@media only screen and (max-width: 768px) {
  .prev-btn,
.next-btn {
  display: block;
}
}