@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}



/* ---------------------------------- */
.app-container {
  display: flex;
}

.main-content {
  width: calc(100% - 270px);
  height: 100vh;
  letter-spacing: 0px;
  margin-left: 280px;
  padding: 20px 30px;
  overflow-x: hidden;
  scrollbar-width: none;
}

/* --------sidebar----------- */

.sidebar {
  width: 280px;
  position: fixed;
  top: 0;
  z-index: 1000;
  color: #fff;
  background-color: #000;
  border-right: 1px solid #e3e3e3;
  min-height: 100vh;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-width: none;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px;
}

.sidebar-brand-logo {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.sidebar-brand-logo img {
  height: 50px;
  border-radius: 11px;
  margin-right: 10px;
}

.sidebar-brand-logo span {
  color: #ff4d4d;
}

.sidebarIcon {
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebarIcon img {
  height: 18px;
}

.sidebar h2 {
  font-size: 22px;
  margin-bottom: 40px;
}

.sidebar h2 span {
  color: red;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.sidebar .active {
  background-color: #e53935;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.create-account {
  background-color: #2ad831;
  width: 100%;
}

.logOut {
  font-size: 16px;
  font-weight: 600;
  background-color: #e53935;
  height: 48px;
  margin-bottom: 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  gap: 18px;
  cursor: pointer;
}

.logOut img {
  height: 20px;
}

.logOut-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-message {
  text-align: center;
  padding: 10px;
  color: red;
}

.empty-message {
  height: 67vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentWrapper img {
  height: 80px;
}

.word-break {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 181px;
}

.mobile-navbar {
  display: none;
}

.mobile-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #ea3c2f1a;
  padding: 10px 20px;
}

.logo-container {
  font-size: 25px;
  font-weight: 600;
}
.logo-container span {
  color: #e53935;
}

.hamburger-btn {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.mobile-sidebar {
  display: none !important;
}

.sideBarCross {
  background-color: transparent;
  border: none;
  margin-bottom: -5px;
}

@media only screen and (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .main-content {
    width: 100%;
    margin: 0px;
    padding: 10px;
  }

  .mobile-sidebar {
    display: block !important;
  }

  .sidebar {
    display: none;
  }

  .sidebar-brand-logo {
    justify-content: space-between;
  }

  .mobile-navbar {
    display: block;
  }
}
