.users-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)) !important;
  gap: 20px;
  width: 100%;
}

.users-summary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
}

.users-status-title {
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  margin: 16px 16px 20px;
}

.action-btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.action-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--thirdcolor);
}

.custom-select {
  appearance: none;
  background-color: var(--secondcolor);
  color: var(--thirdcolor);
  padding: 10px 40px 10px 16px;
  border: none;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
  transition: all 0.3s ease;
}

.user-card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 10px var(--shadowcolor);
  background-color: var(--thirdcolor);
  font-family: "Poppins", sans-serif;
  transition: 0.3s all ease;
  border: 1px solid var(--firstcolor);
}

.user-card:hover {
  transform: translateY(-3px);
}

.user-card__info_img {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.user-card__info_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
  border-bottom: 0.5px solid var(--sixthcolor);
}

.user-card__info_content {
  padding: 16px;
}

.user-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 12px;
}

.user-card__text {
  font-size: 14px;
  font-weight: 400;
}

.user-card_details_container {
  padding-bottom: 10px;
  border-bottom: 1px dashed var(--seventhcolor);
}
.user-card_personal_details_container {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100px;
}

.user-card__role {
  color: var(--secondcolor);
  background-color: #ee3f242b;
  border: 1px solid var(--secondcolor);
  border-radius: 2.5px;
  padding: 1px 2px;
  font-size: 10px;
  font-weight: 600;
  min-width: 50px;
  text-align: center;
}

.user-card__contact {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2px 0px;
}

.user-card__contact img {
  height: 13px;
  width: 13px;
}

.user-card__contact a {
  text-decoration: none;
  overflow: hidden;
}

.user-card__contact h4 {
  font-size: 13px;
  font-weight: 500;
  color: var(--firstcolor);
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user-card__contact h4:hover {
  text-decoration: underline;
}

.mobile_card_details .dashed-line {
  flex-grow: 1;
  border-bottom: 2px dashed;
  margin: 0 10px;
}

.user-card__status {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-top: 10px;
}

.user-card__status-Active {
  color: var(--fourthcolor);
  background-color: #00800021;
  border: 1px solid var(--fourthcolor);
  border-radius: 2.5px;
  padding: 2px 5px;
  font-size: 12px;
  cursor: pointer;
}

.user-card__status-InActive {
  color: #ee3f24;
  background-color: #ee3f242b;
  border: 1px solid #ee3f24;
  border-radius: 2.5px;
  padding: 2px 5px;
  font-size: 12px;
  cursor: pointer;
}

.user-card__status-indicator {
  position: relative;
  height: 6px;
  width: 6px;
  background-color: #ee3f24;
  border-radius: 50%;
}

@media only screen and (max-width: 1024px) {
  .users-container {
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr)) !important;
    gap: 15px;
  }

  .user-card {
    height: 350px;
  }

  .user-card__info_content {
    padding: 12px !important;
  }

  .user-card__info {
    margin-bottom: 6px;
  }
}
@media only screen and (max-width: 865px) {
  .users-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
    gap: 10px;
  }

  .user-card {
    height: 300px;
  }

  .user-card__info_content {
    padding: 8px !important;
  }

  .user-card__info {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 450px) {
  .users-container {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr)) !important;
    gap: 10px;
  }

  .user-card {
    height: 230px;
  }

  .user-card__info_content {
    padding: 4px !important;
  }

  .user-card__info {
    margin-bottom: -3px;
  }

  .user-card__text {
    font-size: 10px;
    font-weight: 400;
  }

  .user-card__role {
    border-radius: 1.5px;
    padding: 0px 1px;
    font-size: 8px;
    min-width: 40px;
  }

  .user-card_personal_details_container {
    padding-top: 4px;
    height: 60px;
  }

  .user-card__contact {
    gap: 6px;
    padding: 0px 0px;
  }

  .user-card__contact h4 {
    font-size: 10px;
    font-weight: 400;
  }

  .user-card__contact > svg {
    height: 10px;
    width: 10px;
  }

  .user-card__status {
    padding-top: 0px;
    gap: 3px;
  }

  .user-card__status-Active {
    font-size: 8px;
  }

  .user-card__status-InActive {
    font-size: 8px;
  }

  .user-card__status-indicator {
    height: 3px;
    width: 3px;
  }
}

@media only screen and (max-width: 375px) {
  .mobile-summary-header {
    flex-direction: column;
    align-items: start;
    margin-bottom: 30px;
  }

  .user-card {
    height: 220px;
  }

  .user-card__info_content {
    padding: 6px !important;
}


  .users-container {
    grid-template-columns: repeat(auto-fit, minmax(112px, 1fr)) !important;
    gap: 10px;
  }
}
